<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KT-BR-CUSTOMER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>KT-BR-MANAGER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>KT-BUSINESS-SELLER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KT-FRAME-PK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>KT-LB-Controller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>KT-LO-Controller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>KT-LS-Controller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>KT-MODEL-MODULE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>KT-OPERATORS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>KTAPP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84065F591BCD054600E40A63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84065F771BCD056A00E40A63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8461B57C1B54B0EC002A7C43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>847415C21B63AF90005BF59D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF8F5D1B4AB63C001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF8F8F1B4ABA7E001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF902A1B4AC55D001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84EA96B21B57D2D400AC549F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84F28FE81B6387C3001078D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A04366A81AD7B550005842EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
