<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KT-AGGREGATE-RESOURCES.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>KT-BUSINESS-SELLER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>KT-DUNDLE-RESOURCES.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>KT-FRAME-PK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>KT-LS-Controller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>KT-MODEL-MODULE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>KT-RESOURCES.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>民生小区.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8461B57C1B54B0EC002A7C43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8461B5861B54B0EC002A7C43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84646FCC1B22D44E00D3A775</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>848190F81B280E3800FB346D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849D9BDD1B223ED600D4D59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849D9BE71B223ED600D4D59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849D9C011B223F0000D4D59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>849D9C0B1B223F0100D4D59E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BD33311B22E9D80032267B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BD333B1B22E9D90032267B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BD334C1B22E9F90032267B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BD33561B22E9F90032267B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF8EC61B4AB0C7001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF8EE11B4AB0C7001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF8F301B4AB2E3001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF8F4B1B4AB2E4001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF8F5D1B4AB63C001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF8F781B4AB63C001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF8F8F1B4ABA7E001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF8F991B4ABA7E001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF902A1B4AC55D001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF90341B4AC55D001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF90631B4AD29D001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF906D1B4AD29D001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF90811B4AD49E001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BF908B1B4AD49F001042F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C49F221B4FFC2500029E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C49FB11B5004F300029E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C4A0391B50088200029E19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DD87201B21E4DA00431F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DD872A1B21E4DA00431F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DD873B1B21E54800431F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DD87451B21E54900431F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DD87571B21E92100431F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DD87611B21E92200431F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DD877B1B21EA7F00431F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DD87851B21EA7F00431F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DD87961B21EA9B00431F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DD87A01B21EA9C00431F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DD87B21B21EAC500431F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84DD87BC1B21EAC500431F80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84ECE3161B4F7A05003D1AEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A04366A81AD7B550005842EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A04366C11AD7B550005842EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
